$bgColor: #0F194D; /* 1 */
$mainColor: #5F90ED; /* 4 - 1 - 1 - 1 */
$accentColor: #6C43F6;
$secondColor: #FFFFFF; /* 3 - 1 - 1*/
$thirdColor: #53575D; /* 2 - 1 - 1*/
$fourthColor: #D2DBE4;
$fifthColor: #ECF2FE;
$sixthColor: #ECF2F7;
$popupsBoxShadowColor: rgba(95, 144, 237, 0.15);

$headerNotificationsCircleColor: #BC2F2F; /* 1 */

$contentTitleColor: #52575D;

$logoGradientTopColor: #6D80F8;

$navItemHoverBgColor: #ECF2FE;

$exitIconMainColor: #D3DCE5;
$exitTopBorderColor: #C4C4C4;

$likeIconRedColor: #FF0000;
$likeIconRedHoverColor: rgba(255,0,0,0.8);

$newsItemShadowColor: rgba(0, 0, 0, 0.2);